streamlit
pandas
openpyxl
google-auth
gspread
matplotlib
seaborn
numpy
PyDrive2
google-auth-oauthlib
google-auth-httplib2
streamlit
Pillow
pyzbar
opencv-python-headless
streamlit-webrtc
av
streamlit
streamlit-webrtc
opencv-python-headless
pyzxing
av
